.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 30px;
    font-family: 'Poppins';
}
.form-auth-container, .login-form, .register-form{
    display: flex;
    flex-direction: column;
  }
  .custom-button {
    position: absolute; /* Position the button */
    top: 0; /* Position from the top */
    right: 0; /* Position from the right */
    /* Add other button styles */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: none;
  }
  
  
  
  @media screen and (min-width : 600px){
    .form-auth-container {
      margin: 0.5rem;
      padding: 4rem;
      /* border: 1px solid white; */
      border-radius: 10px;
    } 
  }
  .form-auth-container-reg{
    margin: 0.5rem;
    padding:0 6rem 0 6rem;

    /* border: 1px solid white; */
    border-radius: 10px;
  }
  
  label{
    text-align: left;
    padding: 0.25rem 0;
    color: white;
  }
  
  input{
    padding: 1rem;
    border-radius: 10px;
    margin: 0.5rem 0;
    /* border: none; */
  }
  
  button{
    border: none;
    margin: 0.5rem 0;
    padding: 1rem 0;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: white;
    
  }
  .btn-submit{
    background-color: gainsboro;
    font-size: 1rem;
    font-family: 'Poppins';
    color: #0e367e;
    font-weight: 600;
  }
  
  .btn-submit:hover{
    background-color: #9b5de5ff;
    transition: 0.2s ease-in;
    color: white;
  }
  
  .btn-link{
    border: none;
    background: none;
    color: white;
    font-family: 'Poppins';
  }
  h1{
    color:whitesmoke;
  }
  h1{
    color:whitesmoke;
  }
  .asterisk{
    color: red;
  }